.navbar{
    height: 10vh;
    background-color: rgba(38, 38, 38, 0.966);
}

/* section .row{
    height: 93.4vh;
    background-color: aqua; 
}*/

section .row .col-md-3 .sidebar{
    width: 100%;
    height: 100%;
}

section .row .col-md-9 .first-ligne{
    height: 35vh;
}

section .row .col-md-9 .second-ligne{
    height: 35vh;
}

section .row .col-md-9 .third-ligne{
    height: 35vh;
}